/*Written by Josefin Reuter 2017*/
body{
    background-image: url("../Pictures/snowman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#heading{
    color: #FFFFFF;
    padding-left: 18%;
    padding-top: 3%;
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1.5px;
}

#questions {
    width: 53%;
    padding-left: 20%;
    padding-top: 5%;

}

#question{
    font-weight: bold;
    font-size: larger;
}

img {
  height: 150px;
    width: 150px;
}
.font{
    font-family: Gabriola;
    font-size: 20px;
}
#submit{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

